/.idea/.idea.Contract/.idea/sonarlint/issuestore/0/0/0035d3ce8927b6de26904ea9877b6f86337db48d
/.idea/.idea.Contract/.idea/sonarlint/issuestore/0/3/03deefbfe82d1b738254c3cda2b31bb646048c82
/.idea/.idea.Contract/.idea/sonarlint/issuestore/1/3/13a8fd92723e3d638f31f3bfb627100b5e9da185
/.idea/.idea.Contract/.idea/sonarlint/issuestore/1/4/14ecc5dde5246cd7f490319566b7af51f65cd480
/.idea/.idea.Contract/.idea/sonarlint/issuestore/1/6/168e1f29273cd1f588c9a8e466c17b778be54b5d
/.idea/.idea.Contract/.idea/sonarlint/issuestore/1/a/1a17a39be04f1927b1494383a17b67df101d4e07
/.idea/.idea.Contract/.idea/sonarlint/issuestore/2/1/21905116842815d43485a5d991fe6c8185e2f3f6
/.idea/.idea.Contract/.idea/sonarlint/issuestore/2/3/23cabfa9801ed51e2d8d5d73a63f4ab241116058
/.idea/.idea.Contract/.idea/sonarlint/issuestore/3/6/36fb0ad59a204c272b502b31696fc9536fadb4af
/.idea/.idea.Contract/.idea/sonarlint/issuestore/4/0/408bdd34b108d49f0bb47dde697c9c813d71ae49
/.idea/.idea.Contract/.idea/sonarlint/issuestore/4/1/41c2f047cc93ccd7157f0c660363ebebe852ff0f
/.idea/.idea.Contract/.idea/sonarlint/issuestore/6/6/66acd8badd59f1649b22c236e7329f56e28f340f
/.idea/.idea.Contract/.idea/sonarlint/issuestore/6/7/67727c24ff0bfdd803dceda9cf5a04012ddf34e3
/.idea/.idea.Contract/.idea/sonarlint/issuestore/6/d/6df7a622d74ebd21782ea4d1ccc161cb1165b399
/.idea/.idea.Contract/.idea/sonarlint/issuestore/7/5/75dee836867ea3b6e26c4a2edfb052fe9fa1e5b5
/.idea/.idea.Contract/.idea/sonarlint/issuestore/7/b/7b5f136237160d8beedf8d5f7203ec2ed53c5b20
/.idea/.idea.Contract/.idea/sonarlint/issuestore/8/d/8d9becc81715cb68a23f55ab7f398818c8a1e367
/.idea/.idea.Contract/.idea/sonarlint/issuestore/9/4/94b1755f14e9ff26949f64572d5d05a6b375b481
/.idea/.idea.Contract/.idea/sonarlint/issuestore/9/b/9bc209d5ae5f048a143dd194210a348af1e5374c
/.idea/.idea.Contract/.idea/sonarlint/issuestore/a/c/ac54e114387c571d7ebd1717ab831b0bca8a0e95
/.idea/.idea.Contract/.idea/sonarlint/issuestore/c/c/cc89cf03a0acfa5a4c3599ba0338c29e62ca054d
/.idea/.idea.Contract/.idea/sonarlint/issuestore/c/f/cfd9a015df12ff684be34820705d293dd23177cc
/.idea/.idea.Contract/.idea/sonarlint/issuestore/d/1/d12e487d69029944adc5f93a3d3df845188452b9
/.idea/.idea.Contract/.idea/sonarlint/issuestore/d/5/d5a719e65605e6c9544a430aa16a04183fc45b4f
/.idea/.idea.Contract/.idea/sonarlint/issuestore/e/1/e19730d08b3dadb04f0cd43cf8602f4114ddb6e0
/.idea/.idea.Contract/.idea/sonarlint/issuestore/e/2/e2389df881ec392a9ce3e2c4249a2b747894fd3a
/.idea/.idea.Contract/.idea/sonarlint/issuestore/e/e/eedd3286554a6b99cf7d9c53a5a8362be6ee3470
/.idea/.idea.Contract/.idea/sonarlint/issuestore/f/e/fe3e00415f32c39271e3d74c72a7b54f8f184205
/.idea/.idea.Contract/.idea/sonarlint/issuestore/index.pb
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/0/0/0035d3ce8927b6de26904ea9877b6f86337db48d
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/0/3/03deefbfe82d1b738254c3cda2b31bb646048c82
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/1/3/13a8fd92723e3d638f31f3bfb627100b5e9da185
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/1/4/14ecc5dde5246cd7f490319566b7af51f65cd480
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/1/6/168e1f29273cd1f588c9a8e466c17b778be54b5d
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/1/a/1a17a39be04f1927b1494383a17b67df101d4e07
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/2/1/21905116842815d43485a5d991fe6c8185e2f3f6
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/2/3/23cabfa9801ed51e2d8d5d73a63f4ab241116058
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/3/6/36fb0ad59a204c272b502b31696fc9536fadb4af
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/4/0/408bdd34b108d49f0bb47dde697c9c813d71ae49
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/4/1/41c2f047cc93ccd7157f0c660363ebebe852ff0f
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/6/6/66acd8badd59f1649b22c236e7329f56e28f340f
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/6/7/67727c24ff0bfdd803dceda9cf5a04012ddf34e3
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/6/d/6df7a622d74ebd21782ea4d1ccc161cb1165b399
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/7/5/75dee836867ea3b6e26c4a2edfb052fe9fa1e5b5
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/7/b/7b5f136237160d8beedf8d5f7203ec2ed53c5b20
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/8/d/8d9becc81715cb68a23f55ab7f398818c8a1e367
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/9/4/94b1755f14e9ff26949f64572d5d05a6b375b481
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/9/b/9bc209d5ae5f048a143dd194210a348af1e5374c
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/a/c/ac54e114387c571d7ebd1717ab831b0bca8a0e95
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/c/c/cc89cf03a0acfa5a4c3599ba0338c29e62ca054d
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/c/f/cfd9a015df12ff684be34820705d293dd23177cc
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/d/1/d12e487d69029944adc5f93a3d3df845188452b9
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/d/5/d5a719e65605e6c9544a430aa16a04183fc45b4f
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/e/1/e19730d08b3dadb04f0cd43cf8602f4114ddb6e0
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/e/2/e2389df881ec392a9ce3e2c4249a2b747894fd3a
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/e/e/eedd3286554a6b99cf7d9c53a5a8362be6ee3470
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/f/e/fe3e00415f32c39271e3d74c72a7b54f8f184205
/.idea/.idea.Contract/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/.idea.Contract/.idea/.gitignore
/.idea/.idea.Contract/.idea/efCoreCommonOptions.xml
/.idea/.idea.Contract/.idea/efCoreDialogsState.xml
/.idea/.idea.Contract/.idea/encodings.xml
/.idea/.idea.Contract/.idea/indexLayout.xml
/.idea/.idea.Contract/.idea/vcs.xml
/Contract.UI/bin/*
/Contract.Api/bin/*
/Contract.Model/bin/*
/Contract.Repository/bin/*

/Contract.UI/obj/*
/Contract.Api/obj/*
/Contract.Model/obj/*
/Contract.Repository/obj/*
